* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgb(218, 171, 171);
}

.input-container {
	display: flex;
	flex-direction: column;
	margin: 0.7em 0;
}

.label-input {
	color: #000;
	font-weight: 700;
	font-size: 1rem;
	margin-bottom: 0.5em;
}

.form-input {
	width: 260px;
	height: 40px;
	padding-left: 16px;
	font-size: 1rem;
	border: 2px solid #888888;
	outline: none;
	color: #6a6a6a;
	border-radius: 8px;
}

.input-error {
	color: rgb(255, 0, 0);
	margin-top: 0.5em;
	font-size: 14px;
	font-weight: 500;
}

input:invalid[focused="true"] {
	border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
	display: block;
}

.btn-submit {
	width: 60%;
	height: 50px;
	border: none;
	cursor: pointer;
}
