* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

:root {
	--navBarColor: #282828;
	--primartyTitle: #ffffff;
	--bgPrimary: #121212;
	--bgSecondary: #303030;
	--primaryLightColor: #6d6d6d;
	--bgCard: #2e2f2e;
	--imgCard: #d9d9d9;
	--secondaryText: #b3b3b3;
	--bgModal: #262626;
	--PrimaryTextModal: #bdbdbd;
}

.modal-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-window {
	position: relative;
	background-color: var(--bgModal);
	border-radius: 20px;
	padding: 15em;
	min-width: 320px;
	z-index: 10;
	transition: all 5s ease-out;
}

.modal-btn-close {
	font-size: 3rem;
	cursor: pointer;
	position: absolute;
	top: 0;
}

.modal-background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.6;
}
