.modal-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-window {
	position: relative;
	background-color: rgb(20, 151, 24);
	border-radius: 20px;
	padding: 15em;
	min-width: 320px;
	z-index: 10;
	transition: all 5s ease-out;
}

.modal-btn-close {
	font-size: 3rem;
	cursor: pointer;
	position: absolute;
	top: 0;
}

.modal-background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.6;
}
