* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

:root {
	--navBarColor: #282828;
	--primartyTitle: #ffffff;
	--bgPrimary: #121212;
	--bgCard: #2e2f2e;
	--imgCard: #d9d9d9;
}

/* a:-webkit-any-link {
	text-decoration: none;
	color: #FFF;
	cursor: pointer;
} */

img {
	max-width: 100%;
}

body {
	background-color: var(--bgPrimary);
	color: var(--primartyTitle);
}

h1 {
	font-weight: 700;
}

h2 {
	font-weight: 500;
}

h3 {
	font-weight: 300;
}

h4 {
	font-weight: 200;
}

header {
	background-color: rgb(6, 144, 157);
}

.center-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.allTracks {
	background-color: #0a96ae;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 4%;
}

.trackCardContainer {
	background-color: var(--bgCard);
	width: 600px;
	height: 200px;
	border-radius: 10px;
	margin-top: 2%;
	margin-bottom: 2%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.trackCover {
	background-color: #d9d9d9;
	width: 150px;
	height: 150px;
	border-radius: 10px;
}

.trackInfo {
}

.albums-container {
	background-color: rgb(30, 156, 108);
	margin: 0 5%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 2rem;
	/* flex-basis: 33.333333%; */
}

.albums-container > * {
	/* flex: 0 0 33.333%; */
	/* margin: 2%; */
}

.album-card {
	background-color: var(--bgCard);
	padding: 1.5%;
	width: 280px;
	/* min-height: 440px; */
	height: 440px;
	border-radius: 10px;
	display: grid;
	align-items: center;
	grid-auto-rows: auto;
	/* grid-template-rows: repeat(auto-fit, minmax(50px, 1fr)); */
	/* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
}

.album-card > * {
	/* margin-left: 8%;
	margin-right: 8%; */
	word-wrap: break-word;
}

.album-card > div {
	background-color: rgb(16, 156, 27);
	width: 180px;
	height: 180px;
	margin-left: auto;
	margin-right: auto;
}

.album-card > h2 {
	font-size: 1.5em;
	font-weight: 700;
}

.album-card > h3 {
	font-size: 1em;
	font-weight: 400;
	color: #a9a9a9;
}

.album-cover {
	background-color: var(--imgCard);
	width: 240px;
	height: 240px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
